.body
{
    width: 1440px;
    margin: 0;
    padding: 0;
}
.body__header
{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    width: 1440px;
    height: 500px;
}
.info-pre-title-info
{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 20px;
    width: 1250px;
}
.info__text-logo
{
    padding-left: 250px;
    font-family: 'Lora';
    width: 1440px;
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;
}
.info__links
{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 1440px;
    height: 20px;
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 100;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    color: #FFFFFF;
}

.info__in-title-info
{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.info__title
{
    padding-top: 20px;
    padding-bottom: 0px;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    padding-top: 130px;
    letter-spacing: 2px;
    color: #FFFFFF;
    margin: 0;
    
}
.info__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    padding-top: 0;
    color: rgba(255, 255, 255, 0.63);

}
.info__button
{
    border: none;
    outline: none;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px 13px;
    color:white;
    background: #DD783F;
    border-radius: 3px;
}
.body__under-header
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    
    
    
    color: #9900ff;
}
.under-header__links
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
   
    
    
    color: #9900ff;
    
}
.body__main
{
    background: #F7F7F7;
    border-radius: 0px;
}
.block-highouter__header
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-align: center;
    letter-spacing: 2px;
    
    color: #2E2E2E;
    
}
.block-highouter__content-highouter-adventure
{
    background-image: url("../images/pojar.png");
    background-repeat: no-repeat;
    height: 280px;
}
.block-highouter__content-highouter-road
{
    background-image: url("../images/sev_s.png");
    background-repeat: no-repeat;
    height: 280px;
}
.content-highouter-road__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    
    color: #FFFFFF;
    
}
.content-highouter-road__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    
    color: rgba(255, 255, 255, 0.7);   
}
.content-highouter-road__chmos
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    
    color: rgba(255, 255, 255, 0.7);
        
}
.content-highouter-adventure__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    
    color: #FFFFFF;
    
}
.content-highouter-adventure__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    
    color: rgba(255, 255, 255, 0.7);   
}
.content-highouter-adventure__chmos
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    
    color: rgba(255, 255, 255, 0.7);
        
}




.feautered-post-block__from-top-down
{
    background-image: url("../images/pojar.png");
    background-repeat: no-repeat;
}

.content-highouter-adventure__mark
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    /* identical to box height, or 108% */
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 9px 7px;
    color:white;
    background: #DD783F;
    border-radius: 3px;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}
.most-recent__underline
{
    width: 188px;
    align-items: center;
}

.most-recent__header
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    
    text-decoration-color: #DEDEDE;
    text-align: center;
    letter-spacing: 2px;
    
    color: #2E2E2E;
    
}
.most-recent__block
{
    width: 1440px;
}
.block__3-first-block
{
    padding-left: 226px;
    display: flex;
    align-content: center;
}
.block__3-second-block
{

    padding-left: 226px;
    display: flex;
    align-items: center;
}
.block__content
{
    background: #FFFFFF;
    width: 296px;
    height: 291px;
    margin: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.content__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    padding-left: 10px;
    
    color: #101315;
    
}
.content__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height, or 146% */
    height: 40px;
    margin: 0;
    padding-left: 10px;
    color: #7A7A7A;
    
}
.content__author-info
{
    background-color: #FCFCFC;
    width: 296px;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 48px;
    gap: 10px;
    border-top: #EFEFEF solid;
    
}
.author-info__detales
{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-right: 10px;
}

.detales__name
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    /* identical to box height, or 318% */
    

    color: #999999;
    
}
.detales__date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    /* identical to box height, or 318% */
    
    color: #999999;
        
}

.footer
{
    background-image: url("../images/footer-background.png");
    background-repeat: no-repeat;
    height: 378px;
    margin: 0px;
}
.info-lowest__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height, or 100% */
    margin: 0px;
    
    color: #FFFFFF;
    
        
}
.info-lowest__links
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    /* identical to box height, or 236% */
    
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 0.6); 
}
a {
    text-decoration: none;
    color: white;
}
.main__title
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    text-decoration: underline;
    text-align: center;
    
    color: #EFEFEF;
    
}
.form__item-input
{
    border: none;
    outline: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px 13px;
    color:white;
    background: #ffffff;
    border-radius: 3px;  
    width: 375px;
    
}
.form__item-button
{
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px 13px;
    color:white;
    background: #ffffff;
    border-radius: 3px;  
    opacity: 28%;
    
}







