.headerinfo
{
    background-image: url("../images/background.png");
}
.escape
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    color: #FFFFFF;   
}
.links
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.6px;
    text-transform: uppercase;   
    color: #FFFFFF;   
}
.lets
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;    
    text-align: center;
    letter-spacing: 2px;    
    color: #FFFFFF;    
}
.subt
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;    
    text-align: center;
    color: rgba(255, 255, 255, 0.63);
}
.button
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    background-color: #DD783F;
}
.links2
{
    background-color: white;
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center; 
    color: #768088;
}
.feature-posts-block
{
    background-color: #F7F7F7;
}
.global-header
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    text-align: center;
    letter-spacing: 2px;
    color: #2E2E2E;
}
.the-road-ahead
{
    background-image: url("../images/sev_s.png");
}
.title-fetured-post
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px; 
    color: #FFFFFF;    
}
.sub-title-featured-post
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    color: rgba(255, 255, 255, 0.7);
}
.chmos
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: rgba(255, 255, 255, 0.7); 
}
.from-top-down
{
    background-image: url("../images/pojar.png");
}
.most-recent
{
    background-color: #F7F7F7;
}
.still-standing-tall
{
    background-color: #FFFFFF ;
}
.most-recent-block-title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #101315;   
}
.most-recent-block-sub-title
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    color: #7A7A7A;  
}
.author-most-recent-block
{
    background-color: #FCFCFC;
}
.chmos-most-recent
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    color: #999999;   
}
.chmos-date-most-recent-block
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    color: #999999;    
}