.header
{
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
}
.info__text-logo
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height, or 100% */
    
    
    color: #FFFFFF; 
}
.info__links
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 20px;
    /* identical to box height, or 167% */
    
    letter-spacing: 0.6px;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}
.info__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 51px;
    /* identical to box height, or 102% */
    
    text-align: center;
    letter-spacing: 2px;
    
    color: #FFFFFF;
    
}
.info__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    /* identical to box height, or 118% */

    text-align: center;

    color: rgba(255, 255, 255, 0.63);

}
.info__button
{
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px 13px;
    color:white;
    background: #DD783F;
    border-radius: 3px;
}
.under-header__links
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    text-align: center;
    
    color: #9900ff;
    
}
.main
{
    background: #F7F7F7;
    border-radius: 0px;
}
.block-highouter__header
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-align: center;
    letter-spacing: 2px;
    
    color: #2E2E2E;
    
}
.block-highouter__content-highouter-adventure
{
    background-image: url("../images/pojar.png");
    background-repeat: no-repeat;
    height: 280px;
}
.block-highouter__content-highouter-road
{
    background-image: url("../images/sev_s.png");
    background-repeat: no-repeat;
    height: 280px;
}
.content-highouter-road__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    /* identical to box height, or 111% */
    
    
    color: #FFFFFF;
    
}
.content-highouter-road__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    
    
    color: rgba(255, 255, 255, 0.7);   
}
.content-highouter-road__chmos
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    /* identical to box height, or 292% */
    
    
    color: rgba(255, 255, 255, 0.7);
        
}
.content-highouter-adventure__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 30px;
    /* identical to box height, or 111% */
    
    
    color: #FFFFFF;
    
}
.content-highouter-adventure__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 25px;
    /* identical to box height, or 179% */
    
    
    color: rgba(255, 255, 255, 0.7);   
}
.content-highouter-adventure__chmos
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    /* identical to box height, or 292% */
    
    
    color: rgba(255, 255, 255, 0.7);
        
}




.feautered-post-block__from-top-down
{
    background-image: url("../images/pojar.png");
    background-repeat: no-repeat;
}

.content-highouter-adventure__mark
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 13px;
    /* identical to box height, or 108% */
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 6px 9px 7px;
    color:white;
    background: #DD783F;
    border-radius: 3px;
    
    text-transform: uppercase;
    
    color: #FFFFFF;
    
}



.block__header
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height, or 135% */
    text-decoration: underline;
    text-decoration-color: #DEDEDE;
    text-align: center;
    letter-spacing: 2px;
    
    color: #2E2E2E;
    
}
.block__content
{
    background: #FFFFFF;
    width: 296px;

}
.content__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    /* identical to box height, or 131% */
    
    
    color: #101315;
    
}
.content__subtitle
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 19px;
    /* identical to box height, or 146% */
    
    
    color: #7A7A7A;
    
}
.content__author-info
{
    background-color: #FCFCFC;
    width: 296px;
}
.author-info_name
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 35px;
    /* identical to box height, or 318% */
    
    
    color: #999999;
    
}
.author-info_date
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 35px;
    /* identical to box height, or 318% */
    
    
    color: #999999;
        
}

.footer
{
    background-image: url("../images/footer-background.png");
    background-repeat: no-repeat;
    height: 378px;
    margin: 0px;
}
.info-lowest__title
{
    font-family: 'Lora';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 26px;
    /* identical to box height, or 100% */
    margin: 0px;
    
    color: #FFFFFF;
    
        
}
.info-lowest__links
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 26px;
    /* identical to box height, or 236% */
    
    text-align: right;
    letter-spacing: 1px;
    text-transform: uppercase;
    
    color: rgba(255, 255, 255, 0.6); 
}
a:link {
    text-decoration: none;
    color: #768088;;
}

a:visited {
    text-decoration: none;
    color: #768088;;
}

a:hover {
    text-decoration: none;
    color: #768088;;
}

a:active {
    text-decoration: none;
    color: #768088;;
} 
.main__title
{
    font-family: 'Oxygen';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    /* identical to box height, or 120% */
    text-decoration: underline;
    text-align: center;
    
    color: #EFEFEF;
    
}
.form__item-input
{
    border: none;
    outline: none;
    display: inline-block;
    text-align: left;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px 13px;
    color:white;
    background: #ffffff;
    border-radius: 3px;  
    width: 375px;
    
}
.form__item-button
{
    border: none;
    outline: none;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 13px 30px 13px;
    color:white;
    background: #ffffff;
    border-radius: 3px;  
    opacity: 28%;
    
}







